// Specific CSS for your home-page
.home-container {
  width: 100vw;
  height: 80vh;
}

.cover-container {
  border: solid;
  margin: 24px;
  padding:16px;
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
