<div class="container">
  <% if current_user.teacher? %>
    <%= render 'teacher-bookings', my_bookings: @teacher_bookings %>
  <% else %>
    <%= render 'student-bookings', my_bookings: @student_bookings %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
