<div class="container">
<center> <h1>Bookings</h1></center>
  <% if current_user.teacher? %>
    <%= render 'teacher-bookings', my_bookings: @teacher_bookings %>
  <% else %>
    <%= render 'student-bookings', my_bookings: @student_bookings %>
  <% end %>
</div>
