<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand mt-2" href="/">
      <h3>Lingo Buddy</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
           <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" <%= image_tag "user-icon.png" %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my_bookings">My Bookings</a>
                <a class="dropdown-item" <%= href="/users/'#{current_user.id}'/edit"%>>Become a Lingo Buddy!</a>
                <a class="dropdown-item" href="/users/sign_out">Sign Out</a>
              </div>
            </li>
            <% else %>
              <%= link_to "Log In", new_user_session_path, class:"btn btn-danger me-3 log-in" %>
              <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-light me-5 sign-up" %>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
