<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-1288712636_468402_zjevz9.jpg);">
  <div class="container">
    <h1>Master a new language,</h1>
    <h1>by meeting up with local fluent speakers</h1>
    <br>
    <br>
    <center><a class="btn btn-flat" href="/users">Explore Lingo Buddy</a></center>
  </div>
</div>

<div class="container mt-5">
  <h1>"He who learns a new language, acquires a new soul"<em> - Czech proverb</em></h1>
</div>

<div class="container-reviews pt-5">
  <center><h3>See what previous users have to say</h3></center>

  <div class="card-review">
    <div class="card-review">
      <div class="container">
        <div class="card" style="width: 24rem;">
          <h3 class="card-title mt-2">Chayan Argawal</h3>
          <div class="card-body">
            <center><p>Joining Lingo Buddy was the best decision I have ever made! I went from speaking a few sentences in Spanish to being a confident fluent speaker. Don't think twice, go for it! Vamos!</p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="card-review">
      <div class="container">
        <div class="card" style="width: 24rem;">
          <h3 class="card-title mt-2">Deborah Reis</h3>
          <div class="card-body">
            <center><p>Joining Lingo Buddy was the best decision I have ever made! I went from speaking a few sentences in Spanish to being a confident fluent speaker. Don't think twice, go for it! Vamos!</p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="card-review">
      <div class="container">
        <div class="card" style="width: 24rem;">
          <h3 class="card-title mt-2">Chun Man Poon</h3>
          <div class="card-body">
            <center><p>Joining Lingo Buddy was the best decision I have ever made! I went from speaking a few sentences in Spanish to being a confident fluent speaker. Don't think twice, go for it! Vamos!</p></center>
          </div>
        </div>
      </div>
    </div>
</div>
