<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-1288712636_468402_zjevz9.jpg);">
  <div class="container">
    <h1>Master a new language,</h1>
    <h1>by meeting up with local fluent speakers</h1>
    <br>
    <br>
    <center><a class="btn btn-flat" href="/users">Explore Lingo Buddy</a></center>
  </div>
</div>

<div class="container-quote">
  <h1>"He who learns a new language, acquires a new soul"<em> - Czech proverb</em></h1>
</div>

<div class="container-how-it-works pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2017%2F05%2Fno-wifi-coffee-shops-ft-blog0517.jpg&q=60)">
  <h1>How does it work?</h1>
    <div class="card-how-it-works">
      <div class="container">
        <center><div class="card pt-3" style="width: 50%"><center>
          <h3 class="card-title mt-2">Sign Up</h3>
          <div class="card-body">
            <center><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ducimus quas deserunt cupiditate? Quae corporis esse, officiis magni nisi non commodi? Excepturi dolorem quasi deleniti ipsa quam reiciendis harum et!</p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="card-how-it-works">
      <div class="container">
        <center><div class="card pt-3" style="width: 50%"><center>
          <h3 class="card-title mt-2">Find your local Lingo Buddy</h3>
          <div class="card-body">
            <center><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ducimus quas deserunt cupiditate? Quae corporis esse, officiis magni nisi non commodi? Excepturi dolorem quasi deleniti ipsa quam reiciendis harum et!</p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="card-how-it-works">
      <div class="container">
        <center><div class="card pt-3" style="width: 50%"><center>
          <h3 class="card-title mt-2">Arrange a Meetup!</h3>
          <div class="card-body">
            <center><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ducimus quas deserunt cupiditate? Quae corporis esse, officiis magni nisi non commodi? Excepturi dolorem quasi deleniti ipsa quam reiciendis harum et!</p></center>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-reviews pt-5">
  <center><h3>See what previous Lingo Buddy users have to say...</h3></center>

  <div class="card-review">
    <div class="card-review">
      <div class="container">
        <div class="card" style="width: 24rem;">
          <h3 class="card-title mt-2 pt-2">Chayan Agarwal 🇮🇳</h3>
          ★★★★★
          <div class="card-body">
            <center><p>Joining Lingo Buddy was the best decision I have ever made! I went from speaking a few sentences in Spanish to being a confident fluent speaker. Don't think twice, go for it! Vamos!</p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="card-review">
      <div class="container">
        <div class="card" style="width: 24rem;">
          <h3 class="card-title mt-2 pt-2">Deborah Reis 🇧🇷</h3>
          ★★★★★
          <div class="card-body">
            <center><p>Joining Lingo Buddy was the best decision I have ever made! I went from speaking a few sentences in Spanish to being a confident fluent speaker. Don't think twice, go for it! Vamos!</p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="card-review">
      <div class="container">
        <div class="card" style="width: 24rem;">
          <h3 class="card-title mt-2 pt-2">Chun Man Poon 🇭🇰</h3>
          ★★★★★
          <div class="card-body">
            <center><p>Joining Lingo Buddy was the best decision I have ever made! I went from speaking a few sentences in Spanish to being a confident fluent speaker. Don't think twice, go for it! Vamos!</p></center>
          </div>
        </div>
      </div>
    </div>
</div>
