<div class="home-container">
    <h1>Welcome to LingoBuddy</h1>
  <div class="cover-container">
    <div>
      <img src="#" alt="to learn language" width="400" height="400">
    </div>
      <div>
        <h1>Start your journey here</h1>
        <p>Enter your location</p>
        <p>Enter your languages</p>
        <button type="button" class="btn btn-primary">Let's go</button>
      </div>
  </div>

</div>
