<div class="banner" style="height: 100vh; background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-1288712636_468402_zjevz9.jpg);">
      <div class="container pb-10" style="background-color:white; border-radius:30px">
      <br>
      <br>

      <center><h1 style="color:black">Checkout summary</h1></center>
      <center><p style="color:black">Purchase of <strong>Lingo Buddy Service</strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p></center>
      <br>
      <center><button id="pay" class="btn-lingo-buddy-green" style="width:200px; font-size:30px">Pay</button></center>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      <br>
      <br>
      </div>
</div>
