.background-image {
  background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-137.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
}
