.btn-lingo-buddy {
  background-color:rgb(146, 131, 131);
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 14px 20px;
  font-weight: bold;
  font-family: bogart;
}

.btn-lingo-buddy:hover {
  background-color:rgb(146, 131, 131);
  transition: background .5s ease;
}
