.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  color: black;
  border-radius: 10px;

  h5 a {
    color: black;
  }

  h5 a:hover {
    color: rgb(184, 111, 106);
  }
}

.card:hover {
  opacity: 0.9;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: none;
  margin: none;
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 8px;
}

.languages-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 8px;
}

.card-languages-grid {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 8px;
  padding-left: 100px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-map {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.card-show {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

.card-show h1 {
  color: Blue;
}

.card-show p {
  font-size: larger;
}

.card-review {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.teachers-heading {
  background-color: rgb(80, 131, 118);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
