// .message {
//   width: 200px;
// }

.messages {
  background-color: rgb(127, 173, 160);
  padding: 20px;
  border-radius: 30px;
  width: 600px;
  margin: auto;
}

.message-content {
  // background-color: rgb(127, 173, 160);
  // padding-right: 100px;
  // padding-left: 100px;
}

.message {
  // background-color: rgb(184, 68, 15);
  padding: 20px;
  border-radius: 30px;
  width: 500px;
  // margin: auto;
}
